{% extends 'core/base.html' %}
{% load static %}

{% block title %}
National Service-GRIDCo
{% endblock %}

{% block content %}

<h4 class="mb-4">
    Work Highlights From My National Service experience as Network Operations Engineer at the Ghana Grid Company Limited
</h4>
<p class="text-muted">
    Selected activities and field experiences during my National Service.
</p>

<div class="row g-4">

    <div class="col-md-3">
        <img src="{% static 'images/Admin_office_telephone_troubleshooting.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Desk telephone restoration(Before).
        </p>
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/Telephone_troubleshooting.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Desk telephone restoration(After)
        </p>
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/B12_Battery2.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Battery maintenance at the Old Obuasi(B12)substation.
        </p>
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/B12_Battery1.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Battery Maintenance at Old Obuasi(B12)substation.
        </p>
    </div>


    
    <div class="col-md-3">
        <img src="{% static 'images/BatteryMaintenance_NB21.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Battery Maintenace at New Obuasi S/S
        </p>
    </div>


     
    <div class="col-md-3">
        <img src="{% static 'images/BatteryMaintenanceK13.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Battery Maintenace at Kumasi S/S (New Control Room)
        </p>
    </div>



    <div class="col-md-3">
        <img src="{% static 'images/MaintenaceNA61.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Inspection & Maintenance at New Abirem S/S
        </p>
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/K13_StationInspection.jpg' %}"
             class="img-fluid rounded shadow" alt="Station Inspection(FOX 615 Multiplexer) at Kumasi(K13) substation.">
        <p class="mt-2">
            FOX 615 at Kumasi Substation
        </p>
    
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/troubleshhoting_AS20.jpg' %}"
             class="img-fluid rounded shadow" alt="Station Inspection(FOX 615 Multiplexer) at Kumasi(K13) substation.">
        <p class="mt-2">
           ABB ETL troubleshooting at Asawinso(AS20) Substation
        </p>
    
    </div>

    <div class="col-md-3">
        <img src="{% static 'images/gridcojb.jpg' %}"
             class="img-fluid rounded shadow" alt="Junction Box Inspection at the old Akosombo-Kumasi 161KV Line.">
        <p class="mt-2">
           Junction Box Inspection on A12K 161 KV Line
        </p>
    
    </div>

</div>

{% endblock %}