{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Media Experience Gallery
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Media Experence Gallery
</h2>

<p class="text-muted">
    Selected activites of my Media Experience from role as 
    Brodcast Technician, Freelance Graphic Designer and Content Creator and Media Assistant.
</p>

<div class="row g-4">

    <div class="col-md-2">
        <img src="{% static 'images/SyiFm1.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Stream Output monitoring.
        </p>
    </div>

    <div class="col-md-2">
        <img src="{% static 'images/SyiFm2.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Live stream workstation at Sunyani FM.
        </p>
    </div>

     <div class="col-md-2">
        <img src="{% static 'images/SyiFm3.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Facebook Live Stream Monitoring.
        </p>
    </div>
    
    <div class="col-md-2">
        <img src="{% static 'images/Madam2.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Birthday flyer for the Manager.
        </p>
    </div>

    <div class="col-md-2">
        <img src="{% static 'images/SyifmLogo 2.png' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Christmas logo I designed.
        </p>
    </div>

     <div class="col-md-2">
        <img src="{% static 'images/personalbrand.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
           Recording Session for my pronject.
        </p>
    </div>

    <div class="col-md-2">
        <img src="{% static 'images/FASTING N PRAYERS2.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Flyer for a church program
        </p>
    </div>


     <div class="col-md-2">
        <img src="{% static 'images/MediaTeamKnust.jpg' %}"
             class="img-fluid rounded shadow">
        <p class="mt-2">
            Aiding Lyrical Projection:Songs Marathon at 2.0
        </p>
    </div>

</div>

{% endblock %}